<div class="modal-dialog" style="width: 60em;">
    <div class="modal-content">
        <div class="modal-body">

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Comentarios</span>
                            <a data-ng-click="onAdd(c)" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-plus"></span></a>

                            <span style="font-style: italic; font-size: small" class="pull-right">Total {{comentarios.length}}</span>
                        </div>
                        <div class="panel-body" style="height: 25em;; overflow-y: auto;">
                            <table class="table">
                                <tr data-ng-repeat="c in comentarios">
                                    <td>
                                        <div class="row"
                                             style="padding: 0.1em;">
                                            <div class="col-md-9">
                                                <p class="text-info">Fecha: {{c.fecha | date:'dd/MM/yyyy'}}</p>
                                                <p ng-bind-html="sce(c.comentario)"></p>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="pull-right">
                                                    <a data-ng-click="onRemove(c)" class="btn btn-warning btn-xs">
                                                        <span class="glyphicon glyphicon-remove"></span></a>
                                                    <a data-ng-click="onUpdate(c)" class="btn btn-info btn-xs">
                                                        <span class="glyphicon glyphicon-edit"></span></a>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="close()">Cerrar</button>
            <button data-ng-click="onSave()" type="button" class="btn btn-primary"><span
                    class="glyphicon glyphicon-floppy-disk"></span> Guardar los cambios
            </button>
        </div>
    </div>

</div>

<div id="comentario-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <textarea id="comentario-text"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="closeModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" data-ng-click="saveComentario()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="comentario-borrar-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>¿Estás seguro de que quieres borrar el comentario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="closeBorrarModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" data-ng-click="borrarComentario(selectedComentario)">Borrar</button>
            </div>
        </div>
    </div>
</div>





