<div class="modal-dialog" style="width: 70em;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="close()">
                <span aria-hidden="true">X</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-send"></span>
                <span>Enviar a QA</span>
            </h4>
        </div>
        <div id="msg-modal-body" class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #28a4c9;"
                         class="page-subtitulo text-info"><strong>Solicitud:</strong> {{form.id}} - {{form.titulo}}</div>
                </div>
            </div>

            <div class="row page-form">

                <div class="col-md-12">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#solucion" data-ng-click="openTab($event)"
                               role="tab" data-toggle="tab"
                               aria-controls="solucion" aria-expanded="true">Descripción de la solución*</a></li>
                        <li role="presentation">
                            <a href="#pasoproduccion"
                               data-ng-click="openTab($event)" role="tab"
                               data-toggle="tab" aria-controls="pasoproduccion">Plan de paso a producción*</a></li>
                        <li role="presentation">
                            <a href="#planmarchaatras"
                               data-ng-click="openTab($event)" role="tab"
                               data-toggle="tab" aria-controls="planmarchaatras">Plan de marcha atrás*</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="solucion" style="padding: 0.3em;">
                            <textarea id="solucion-text"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pasoproduccion" style="padding: 0.3em;">
                            <textarea id="pasoproduccion-text"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="planmarchaatras" style="padding: 0.3em;">
                            <textarea id="planmarchaatras-text"></textarea>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="close()">Cerrar</button>
            <button data-ng-click="onSave()" type="button" class="btn btn-primary"><span
                    class="glyphicon glyphicon-floppy-disk"></span> Guardar los cambios
            </button>
        </div>
    </div>

</div>
