<div class="modal-dialog" style="width: 70em;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="close()">
                <span aria-hidden="true">X</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-book"></span>
                <span>Planificación</span>
            </h4>
        </div>
        <div id="msg-modal-body" class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #28a4c9;"
                         class="page-subtitulo text-info"><strong>Solicitud:</strong> {{form.id}} - {{form.titulo}}</div>
                </div>
            </div>


            <div class="row page-form">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha inicio*</label>
                        <input id="planfdesde" data-ng-model="form.fechaIniDesarrollo" type="text" autofocus="autofocus"
                               class="form-control" placeholder="Fecha de inicio"/>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="form-group">
                        <label>Fecha fin*</label>
                        <input id="planffin" data-ng-model="form.fechaFinDesarrollo" type="text" autofocus="autofocus"
                               class="form-control" placeholder="Fecha de fin"/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Proyecto</label>
                        <select data-ng-model="selectedProject" data-ng-change="onProjectChange()"
                                data-ng-options="p.name for p in projects"
                                class="form-control">
                            <option value="">Todos</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Componente</label>
                        <select data-ng-model="selectedComponent" data-ng-change="onComponentChange()"
                                data-ng-options="c.name for c in components"
                                class="form-control">
                            <option value="">Todos</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Backlog</span>
                            <span style="font-style: italic; font-size: small" class="pull-right">Total {{issues.length}}</span>
                        </div>
                        <div class="panel-body" style="height: 20em;; overflow-y: auto;">
                            <div class="row row-issue"
                                 style="padding: 0.1em; " data-ng-repeat="i in issues">
                                <div class="col-md-9">
                                    <span class="text-warning">{{i.issuekey}}</span>
                                    <span class="label label-default">{{i.status}}</span>
                                </div>
                                <div class="col-md-3">
                                    <a data-ng-click="onAdd(i)" class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-info" style="font-style: italic">{{i.summary}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 pull-right" >
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Tareas planificadas</span>
                            <span style="font-style: italic; font-size: small" class="pull-right">Total {{issuessolicitud.length}}</span>
                        </div>
                        <div class="panel-body" style="height: 20em;; overflow-y: auto;">
                            <div class="row row-issue"
                                 style="padding: 0.1em; " data-ng-repeat="i in issuessolicitud">
                                <div class="col-md-9">
                                    <span class="text-warning">{{i.issuekey}}</span>
                                    <span class="label label-default">{{i.status}}</span>
                                </div>
                                <div class="col-md-3">
                                    <a data-ng-click="onRemove(i)" class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-info" style="font-style: italic">{{i.summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="close()">Cerrar</button>
            <button data-ng-click="onSave()" type="button" class="btn btn-primary"><span
                    class="glyphicon glyphicon-floppy-disk"></span> Guardar los cambios
            </button>
        </div>
    </div>

</div>

