<div class="modal-dialog" style="width: 60em;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="close()">
                <span aria-hidden="true">X</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span>Planificar pruebas</span>
            </h4>
        </div>
        <div id="msg-modal-body" class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #28a4c9;"
                         class="page-subtitulo text-info"><strong>Solicitud:</strong> {{form.id}} - {{form.titulo}}</div>
                </div>
            </div>

            <div class="row page-form">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha inicio*</label>
                        <input id="fdesdePlanQA" data-ng-model="form.fechaIniPruebas" type="text" autofocus="autofocus"
                               class="form-control" placeholder="Fecha de inicio"/>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="form-group">
                        <label>Fecha fin*</label>
                        <input id="ffinPlanQA" data-ng-model="form.fechaFinPruebas" type="text" autofocus="autofocus"
                               class="form-control" placeholder="Fecha de fin"/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Recursos disponibles</span>
                            <span style="font-style: italic; font-size: small" class="pull-right">Total {{users.length}}</span>
                        </div>
                        <div class="panel-body">
                            <div class="row"
                                 style="padding: 0.1em; " data-ng-repeat="u in users">
                                <div class="col-md-9">
                                    <p class="text-info" style="font-style: italic">{{u.displayName}}</p>
                                </div>
                                <div class="col-md-3">
                                    <a data-ng-click="onAdd(u)" class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 pull-right" >
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Recursos asignados</span>
                            <span style="font-style: italic; font-size: small" class="pull-right">Total {{equipo.length}}</span>
                        </div>
                        <div class="panel-body">
                            <div class="row row-issue"
                                 style="padding: 0.1em; " data-ng-repeat="e in equipo">

                                <div class="col-md-9">
                                    <p class="text-info" style="font-style: italic">{{e.displayName}}</p>
                                </div>
                                <div class="col-md-3">
                                    <a data-ng-if="e.rol === 10" data-ng-click="onRemove(e)" class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="close()">Cerrar</button>
            <button data-ng-click="onSave()" type="button" class="btn btn-primary"><span
                    class="glyphicon glyphicon-floppy-disk"></span> Guardar los cambios
            </button>
        </div>
    </div>

</div>
