<div data-ng-show="pageVisible">
    <!-- Titulo y botonera -->
    <div class="row page-panel-titulo">

        <!-- Titulo
        <div class="col-md-4">
            <h3 class="page-titulo">
                <span class="glyphicon glyphicon-list-alt"></span>
                <span>Catálogo de solicitudes</span>
            </h3>
        </div>-->

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Pendientes(2)</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Sin plan. desarrollo</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Desarrollando</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Sin. plan. pruebas</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Probando</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Finalizadas</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">En producción</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Paradas</button>
            </div>
        </div>


        <!--
        <div class="col-md-12">
            <div class="btn-group pull-right" role="group">
                <a data-ng-click="onNew()" type="button" class="btn btn-default"><span
                        class="glyphicon glyphicon-search"></span> Buscar</a>
                <a href="#/solicitudes/new" type="button" class="btn btn-primary"><span
                        class="glyphicon glyphicon-file"></span> Nueva </a>
            </div>
        </div>
-->

    </div>

    <!-- Listado -->
    <div class="row page-listado">

        <div class="col-md-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Solicitudes</span>

                    <div class="pull-right">
                        <span style="font-style: italic; font-size: small" class="pull-right">Total {{solicitudes.length}}</span>
                    </div>


                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr data-ng-repeat="s in solicitudes">
                            <td>
                                <div class="row" style="padding: 0.1em;">
                                    <div class="col-md-11">
                                        <p class="text-info">ID:{{s.id}} - {{s.titulo}}</p>
                                    </div>
                                    <div class="dropdown col-md-1">
                                        <a class="btn btn-primary btn-xs pull-right" data-toggle="dropdown" aria-haspopup="true" role="button"
                                           aria-expanded="false">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a data-ng-click="onComentar(s)">Comentarios</a></li>
                                            <li><a data-ng-click="onUpdate(s)">Editar solicitud</a></li>
                                            <li data-ng-if="s.parada == 0">
                                                <a data-ng-click="onEquipo(s)">{{s.estadoSolicitud.id===0?'Asignar
                                                    equipo':'Editar equipo'}}</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 10">
                                                <a data-ng-click="onPlanificacionDesarrollo(s)">
                                                    {{s.estadoSolicitud.id===10?'Planificar desarrollo':'Editar planificación'}}</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 20">
                                                <a data-ng-click="onEnviarQA(s)">
                                                    {{s.estadoSolicitud.id===20?'Enviar a pruebas':'Editar envío a pruebas'}}</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 30">
                                                <a data-ng-click="onPlanificarQA(s)">
                                                    {{s.estadoSolicitud.id===30?'Planificar las pruebas':'Editar planificación pruebas'}}</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 40">
                                                <a data-ng-click="onFinalizar(s)">
                                                    {{s.estadoSolicitud.id===40?'Finalizar':'Editar informe de calidad'}}</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id != 50">
                                                <a data-ng-click="onCerrar(s)">Cerrar</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id != 50"><a href="#/solicitudes/edit/{{s.id}}/borrar">Borrar</a></li>
                                            <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id == 50">
                                                <a data-ng-click="onReabrir(s)">Reabrir</a></li>
                                            <li data-ng-if="s.parada == 1"><a data-ng-click="onReanudar(s)">Reanudar</a></li>
                                            <li data-ng-if="s.estadoSolicitud.id != 50 && s.parada == 0">
                                                <a data-ng-click="onParar(s)">Parar</a></li>
                                        </ul>

                                    </div>
                                    <div class="col-md-3">
                                        <span class="label label-primary">{{s.estadoSolicitud.nombre}}</span>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="pull-right">
                                            <span><strong>F.Inicio:</strong> {{s._fIniDesa.format('dd DD MMM YYYY')}}</span>
                                            <span><strong>F. Fin:</strong> {{s._fFinDesa.format('dd DD MMM YYYY')}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="badge">{{s._tareas.total}} tareas, {{s._tareas.totalfin}}% finalizado, {{s._tareas.totaldias}}d planificados, {{s._tareas.timespent}}%  </span>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
<!--
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitud</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>

                </thead>
                <tbody>
                <tr data-ng-repeat="s in solicitudes">
                    <td>{{s.id}}</td>
                    <td style="width: 40%;">{{s.titulo}}</td>
                    <td>{{s.tipoSolicitud.nombre}}</td>
                    <td>{{s.parada==0?s.estadoSolicitud.nombre:'Parada'}}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-warning btn-xs" data-toggle="dropdown" aria-haspopup="true" role="button"
                               aria-expanded="false">
                                Acción
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="onComentar(s)">Comentarios</a></li>
                                <li><a data-ng-click="onUpdate(s)">Editar solicitud1</a></li>
                                <li data-ng-if="s.parada == 0">
                                    <a data-ng-click="onEquipo(s)">{{s.estadoSolicitud.id===0?'Asignar
                                    equipo':'Editar equipo'}}</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 10">
                                    <a data-ng-click="onPlanificacionDesarrollo(s)">
                                    {{s.estadoSolicitud.id===10?'Planificar desarrollo':'Editar planificación'}}</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 20">
                                    <a data-ng-click="onEnviarQA(s)">
                                    {{s.estadoSolicitud.id===20?'Enviar a pruebas':'Editar envío a pruebas'}}</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 30">
                                    <a data-ng-click="onPlanificarQA(s)">
                                        {{s.estadoSolicitud.id===30?'Planificar las pruebas':'Editar planificación pruebas'}}</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id >= 40">
                                    <a data-ng-click="onFinalizar(s)">
                                    {{s.estadoSolicitud.id===40?'Finalizar':'Editar informe de calidad'}}</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id != 50">
                                    <a data-ng-click="onCerrar(s)">Cerrar</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id != 50"><a href="#/solicitudes/edit/{{s.id}}/borrar">Borrar</a></li>
                                <li data-ng-if="s.parada == 0 && s.estadoSolicitud.id == 50">
                                    <a data-ng-click="onReabrir(s)">Reabrir</a></li>
                                <li data-ng-if="s.parada == 1"><a data-ng-click="onReanudar(s)">Reanudar</a></li>
                                <li data-ng-if="s.estadoSolicitud.id != 50 && s.parada == 0">
                                    <a data-ng-click="onParar(s)">Parar</a></li>


                            </ul>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
-->
        </div>
    </div>


</div>


<div class="modal fade" datos-generales dataset="solicitudes"
     show="datosGeneralesVisible" update-row="row"></div>

<div class="modal fade" equipo dataset="solicitudes"
     show="equipoVisible" update-row="row"></div>

<div class="modal fade" planificacion-desarrollo dataset="solicitudes"
     show="planificacionDesarrolloVisible" update-row="row"></div>

<div class="modal fade" enviar-qa dataset="solicitudes"
     show="enviarQAVisible" update-row="row"></div>

<div class="modal fade" planificacion-qa dataset="solicitudes"
     show="planificacionQAVisible" update-row="row"></div>

<div class="modal fade" finalizar dataset="solicitudes"
     show="finalizarVisible" update-row="row"></div>

<div class="modal fade" reabrir dataset="solicitudes"
     show="reabrirVisible" update-row="row"></div>

<div class="modal fade" parar dataset="solicitudes"
     show="pararVisible" update-row="row"></div>

<div class="modal fade" reanudar dataset="solicitudes"
     show="reanudarVisible" update-row="row"></div>

<div class="modal fade" cerrar dataset="solicitudes"
     show="cerrarVisible" update-row="row"></div>

<div class="modal fade" comentar dataset="solicitudes"
     show="comentarVisible" update-row="row"></div>


