<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head"></head>
    <body>

        <div th:replace="layout :: header"></div>


        <div class="container main-content">

            <!-- Titulo y botonera -->
            <div class="row page-panel-titulo">
                <!-- Titulo -->
                <h3 class="page-titulo col-md-8">
                    <span class="glyphicon glyphicon-list-alt"></span><span>Equipo asignado</span>
                </h3>

                <!-- Botonera -->    
                <div class="pull-right">
                    <div class="btn-group" role="group">
                        <a type="button" href="/solicitudes" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
                        <a id="save" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar los cambios</a>
                    </div>	
                </div>
            </div>	

            <!-- Listado -->
            <div class="row page-listado">

                <table class="table col-md-6">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Acción</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr th:each="u : ${users}">
                            <td th:text="${u.displayName}"></td>
                            <td>
                                <button class="btn btn-warning btn-xs">>></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table col-md-6">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Acción</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr th:each="u : ${users}">
                        <td th:text="${u.displayName}"></td>
                        <td>
                            <button class="btn btn-warning btn-xs">>></button>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>  

        <div th:replace="layout :: libs"></div>
    </body>
</html>