<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head"></head>
    <body>
        
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Custodes</a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row center-block" style="width: 30em; margin-top: 8em;">

                <h1>Acceso</h1>

                <form role="form"  method="post" action="/login">
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Usuario</label> 
                            <input class="form-control" type="text" placeholder="Introduzca su usuario" name="username" id="username"
                                   th:value="${param.username}"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control"
                                   id="password" name="password" placeholder="Introduzca su password" />
                        </div>

                        <input type="hidden"
                               th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
                        <input type="submit" class="btn btn-default" value="Acceder" />
                    </fieldset>
                </form>

                <div th:if="${param.error}" style="margin-top: 3em;" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Acceso denegado!</strong>
                </div>

            </div>
        </div>
        
        
        <div th:replace="layout :: libs"></div>
        
    </body>
</html>