<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div th:replace="layout :: menu ('wlanomalias')"></div>

<div id="main-content" class="container main-content">

    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <label><span>Recurso </span></label>
                <select id="users" class="select form-control" style="width: 50%;">
                    <option selected="selected" value="all">Todos</option>
                    <option th:each="u : ${users}" th:value="${u.id}" th:text="${u.displayName}"></option>
                </select>
            </form>
        </div>
    </div>

    <div class="row" id="content" >

        <div class="col-md-12">

            <div id="calendar"></div>

        </div>

    </div>


</div>

<div th:replace="layout :: modals"></div>

<script>

    config_calendar('/worklogs/anomalias-events',"#users");

</script>

</body>
</html>