<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div th:replace="layout :: menu ('informeencurso')"></div>

<div id="main-content" class="container main-content">

    <div class="row">
        <h2 class="text-info col-md-12">Informe de rfcs en curso</h2>
    </div>

    <div class="row" th:each="h : ${informe}">
        <h4 class="text-info col-md-12" th:text="${h.key + ' ('+h.value.size()+')'} "></h4>

        <div class="col-md-12">

            <table class="table">
                <tr class="text-info">
                    <th>Rfc</th>
                    <th>Equipo</th>
                    <th>Estado</th>
                    <th>%</th>
                </tr>

                <tr th:each="rfc : ${h.value}">
                    <td style="width: 40%;">
                        <a th:href="${'/rfcs/'+rfc.issuekey + '?app'}" target="_blank"
                           th:text="${rfc.issuekey+ ' - ' + rfc.summary}"></a></td>
                    <td>
                        <span class="label label-primary"
                              th:each="e : ${rfc.equipodesarrollo}" th:text="${e.user.name}"></span>
                        <span class="label label-warning"
                              th:each="e : ${rfc.equipocalidad}" th:text="${e.user.name}"></span>
                        <div class="label label-info" th:if="${h.key == 'En desarrollo'}">
                            <span>F.Ini: </span>
                            <span th:if="${rfc.fInicioDesarrollo!=null}" th:text="${#dates.format(rfc.fInicioDesarrollo,'EEEE, dd MMM yyyy')}"></span>
                            <span>, F.Fin: </span>
                            <span th:if="${rfc.fFinDesarrollo!=null}" th:text="${#dates.format(rfc.fFinDesarrollo,'EEEE, dd MMM yyyy')}"></span>
                        </div>
                        <div class="label label-info" th:if="${h.key == 'En pruebas'}">
                            <span>F.Ini: </span>
                            <span th:if="${rfc.fInicioCalidad!=null}" th:text="${#dates.format(rfc.fInicioCalidad,'EEEE, dd MMM yyyy')}"></span>
                            <span>, F.Fin </span>
                            <span th:if="${rfc.fFinCalidad!=null}" th:text="${#dates.format(rfc.fFinCalidad,'EEEE, dd MMM yyyy')}"></span>
                        </div>
                        <div class="label label-info" th:if="${h.key == 'Finalizadas' or h.key.startsWith('En producc')}">
                            <span>F.Paso producción: </span>
                            <span th:if="${rfc.fPasoProd!=null}" th:text="${#dates.format(rfc.fPasoProd,'EEEE, dd MMM yyyy')}"></span>
                        </div>
                    </td>
                    <td><span class="label label-success" th:text="${rfc.status.name}"></span></td>
                    <td><span class="badge" th:text="${rfc.porcentajeCompletado + '%'}"></span></td>

                </tr>
            </table>

        </div>

    </div>


</div>


</body>
</html>