<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div th:replace="layout :: menu ('informeencurso')"></div>

<div id="main-content" class="container main-content">

    <div th:replace="layout :: pagetitle ('Informe de rfcs en curso')"></div>

    <div class="row" th:each="h : ${informe}">
        <h4 class="text-info col-md-12" th:text="${h.key + ' ('+h.value.size()+')'} "></h4>

        <div class="col-md-12">

            <div th:if="${h.value.size() == 0}" class="alert alert-info">
                <h4>No hay rfcs para este estado.</h4>
            </div>

            <table th:if="${h.value.size() > 0}" class="table">
                <tr class="text-info">
                    <th style="width: 40%;">Rfc</th>
                    <th style="width: 40%;">Equipo</th>
                    <th style="width: 10%;">Estado</th>
                    <th style="width: 10%;">%</th>
                </tr>

                <tr th:each="rfc : ${h.value}">
                    <td>
                        <a th:href="${'/rfcs/'+rfc.issuekey + '?app'}" target="_blank"
                           th:text="${rfc.issuekey+ ' - ' + rfc.summary}"></a></td>
                    <td style="width: 40%;">
                        <span class="label label-primary"
                              th:each="e : ${rfc.equipodesarrollo}" th:text="${e.user.name}"></span>
                        <span class="label label-warning"
                              th:each="e : ${rfc.equipocalidad}" th:text="${e.user.name}"></span>
                        <div class="label label-info" th:if="${h.key == 'En desarrollo'}">
                            <span>F.Ini: </span>
                            <span th:if="${rfc.fInicioDesarrollo!=null}" th:text="${#dates.format(rfc.fInicioDesarrollo,'EEEE, dd MMM yyyy')}"></span>
                            <span>, F.Fin: </span>
                            <span th:if="${rfc.fFinDesarrollo!=null}" th:text="${#dates.format(rfc.fFinDesarrollo,'EEEE, dd MMM yyyy')}"></span>
                        </div>
                        <div class="label label-info" th:if="${h.key == 'En pruebas'}">
                            <span>F.Ini: </span>
                            <span th:if="${rfc.fInicioCalidad!=null}" th:text="${#dates.format(rfc.fInicioCalidad,'EEEE, dd MMM yyyy')}"></span>
                            <span>, F.Fin </span>
                            <span th:if="${rfc.fFinCalidad!=null}" th:text="${#dates.format(rfc.fFinCalidad,'EEEE, dd MMM yyyy')}"></span>
                        </div>
                        <div class="label label-info" th:if="${h.key == 'Finalizadas' or h.key.startsWith('En producc')}">
                            <span>F.Paso producción: </span>
                            <span th:if="${rfc.fPasoProd!=null}" th:text="${#dates.format(rfc.fPasoProd,'EEEE, dd MMM yyyy')}"></span>
                        </div>
                    </td>
                    <td>
                        <span  th:class="${'label '+templateUtil.statusClass(rfc.status)}" th:text="${rfc.status.name}"></span>
                    </td>
                    <td>
                        <div th:if="${rfc.porcentajeCompletado lt 25}" class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                        <div th:if="${rfc.porcentajeCompletado ge 25 and rfc.porcentajeCompletado lt 50}" class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                        <div th:if="${rfc.porcentajeCompletado ge 50 and rfc.porcentajeCompletado lt 100}" class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                        <div th:if="${rfc.porcentajeCompletado eq 100}" class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>


</div>


</body>
</html>