<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div th:if="${param.app}">
    <div th:replace="layout :: menu ('rfcs')"></div>
</div>

<div id="main-content" class="container main-content" th:style="${param.app == null?'margin-top:1em;':''}">

    <div class="row">

        <div class="rfc-epigrafe text-info col-md-12">
            <span>1. Datos de la solicitud</span>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="text-info">
                        <span class="glyphicon glyphicon-list"></span>
                        <span>Solicitud</span>
                    </th>
                    <th>
                        <span class="text-info" th:text="${rfc.issuekey + ' - ' + rfc.summary}"></span>
                    </th>
                </tr>
                <tr>
                    <th class="text-info">
                        <span>Estado</span>
                    </th>
                    <td>
                        <span th:class="${'label '+templateUtil.statusClass(rfc.status)}" th:text="${rfc.status.name}"></span>
                        <div th:if="${rfc.causaDetencion}" class="alert alert-info">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <span th:text="${rfc.causaDetencion}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-info">
                        <span>Progreso</span>
                    </th>
                    <td>
                        <div th:if="${rfc.porcentajeCompletado lt 25}" class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                        <div th:if="${rfc.porcentajeCompletado ge 25 and rfc.porcentajeCompletado lt 50}" class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                    <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                        <div th:if="${rfc.porcentajeCompletado ge 50 and rfc.porcentajeCompletado lt 100}" class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                        <div th:if="${rfc.porcentajeCompletado eq 100}" class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 th:attr="aria-valuenow=${rfc.porcentajeCompletado}" aria-valuemin="0"
                                 aria-valuemax="100" th:style="'width: '+${rfc.porcentajeCompletado}+'%'">
                                <span th:text="${rfc.porcentajeCompletado}+'%'"></span>
                            </div>
                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="text-info">
                        <span>Tipo</span>
                    </th>
                    <td>
                        <span class="label label-default" th:text="${rfc.type.name}"></span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" class="text-info">
                        <span class="glyphicon glyphicon-user"></span>
                        <span>Equipo</span>
                    </th>
                </tr>
                <tr>
                    <th class="text-info">Desarrollo</th>
                    <td>
                        <div th:each="e : ${rfc.equipodesarrollo}">
                            <span th:text="${e.user.displayName}"></span> (<a th:href="${'mailto:' + e.user.emailAddress}"
                                                                              th:text="${e.user.emailAddress}"></a>)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-info">Calidad</th>
                    <td>
                        <div th:each="e : ${rfc.equipocalidad}">
                            <span th:text="${e.user.displayName}"></span> (<a th:href="${'mailto:' + e.user.emailAddress}"
                                                                              th:text="${e.user.emailAddress}"></a>)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" class="text-info">
                        <span class="glyphicon glyphicon-book"></span>
                        <span>Planificación</span>
                    </th>
                </tr>
                <tr>
                    <th class="text-info">Desarrollo</th>
                    <td>
                        <span th:if="${rfc.fInicioDesarrollo!=null}" th:text="${#dates.format(rfc.fInicioDesarrollo,'EEEE, dd MMM yyyy')}"></span>
                        <span> a </span>
                        <span th:if="${rfc.fFinDesarrollo!=null}" th:text="${#dates.format(rfc.fFinDesarrollo,'EEEE, dd MMM yyyy')}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="text-info">Calidad</th>
                    <td>
                        <span th:if="${rfc.fInicioCalidad!=null}" th:text="${#dates.format(rfc.fInicioCalidad,'EEEE, dd MMM yyyy')}"></span>
                        <span> a </span>
                        <span th:if="${rfc.fFinCalidad!=null}" th:text="${#dates.format(rfc.fFinCalidad,'EEEE, dd MMM yyyy')}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="text-info">Implantación</th>
                    <td colspan="2">
                        <span th:if="${rfc.fPasoProd!=null}" th:text="${#dates.format(rfc.fPasoProd,'EEEE, dd MMM yyyy')}"></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>


    <div class="row">
        <div class="rfc-epigrafe text-info col-md-12">
            <span>2. Descripción</span>
        </div>
        <div class="col-md-12">
            <div class="well" th:utext="${rfc.description}"></div>
        </div>
    </div>

    <div class="row">
        <div class="rfc-epigrafe text-info col-md-12">
            <span>3. Proyectos afectados</span>
        </div>
        <div class="col-md-12">
            <table class="table">
                <tr class="text-info">
                    <th>Proyecto</th>
                    <th>Componente</th>
                    <th>Issue</th>
                    <th>Versión</th>
                    <th>Estado</th>
                </tr>

                <tr th:each="o : ${rfc.issuelinks}">
                    <td><span th:text="${o.issue.project.name}"></span></td>
                    <td><div th:each="c : ${o.issue.components}" class="label label-default" th:text="${c.component.name}"></div></td>
                    <td style="width: 40%;"><a th:href="${'/issues/'+o.issue.issuekey}" target="_blank"
                                               th:text="${o.issue.issuekey+ ' - ' + o.issue.summary}"></a></td>
                    <td>
                        <div th:each="v : ${o.issue.versions}" class="label label-warning" th:text="${v.version.name}"></div>
                    </td>
                    <td class="col-md-2">
                        <span th:class="${'label '+templateUtil.statusClass(o.issue.status)}" th:text="${o.issue.status.name}"></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="rfc-epigrafe text-info col-md-12">
            <span>4. Solución</span>
        </div>
        <div class="col-md-12">
            <table th:if="${true}"
                   class="table table-bordered">
                <tr th:if="${rfc.solucion}">
                    <th width="20%">Descripción</th>
                    <td class="col-md-12">
                        <div class="alert alert-info" th:utext="${rfc.solucion}"></div>
                    </td>
                </tr>
                <tr th:if="${rfc.acuerdoFuncional}">
                    <th>Acuerdo funcional</th>
                    <td class="col-md-12">
                        <div class="alert alert-info" th:utext="${rfc.acuerdoFuncional}"></div>
                    </td>
                </tr>
                <tr th:if="${rfc.tablasAfectadas}">
                    <th width="20%">Tablas afectadas</th>
                    <td class="col-md-12">
                        <div class="alert alert-info" th:utext="${rfc.tablasAfectadas}"></div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="rfc-epigrafe text-info col-md-12">
            <span>5. Informe de calidad</span>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">

                <tr>
                    <th width="20%">Plan de pruebas de integración</th>
                    <td class="col-md-12">
                        <div class="alert alert-warning" th:utext="${rfc.planpruebas}"></div>
                    </td>
                </tr>

                <tr>
                    <th width="20%">Plan de pruebas de validación</th>
                    <td class="col-md-12">
                        <div th:if="${rfc.planPruebasValidacion == null}"
                             class="alert alert-warning">No se han realizado pruebas de validación por carecer de dicho entorno.</div>
                        <div th:if="${rfc.planPruebasValidacion != null}" class="alert alert-warning" th:utext="${rfc.planPruebasValidacion}"></div>
                    </td>
                </tr>

                <tr>
                    <th width="20%">Riesgos</th>
                    <td  class="col-md-12">
                        <div class="alert alert-warning">
                            <div th:each="r : ${rfc.riesgos}">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span th:text="${r.name}"></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr th:if="${rfc.observaciones != null}">
                    <th width="20%">Observaciones a los riesgos</th>
                    <td  class="col-md-12">
                        <div class="alert alert-warning">
                            <span th:utext="${rfc.observaciones}"></span>
                        </div>
                    </td>
                </tr>

            </table>
        </div>


    </div>

    <div class="row">
        <div class="rfc-epigrafe text-info col-md-12">
            <span>6. Implantación</span>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">

                <tr>
                    <th width="20%">Plan de paso a producción</th>
                    <td  class="col-md-12">
                        <div th:utext="${rfc.planpasoprod}" class="alert alert-success"></div>
                    </td>
                </tr>

                <tr>
                    <th width="20%">Plan de marcha atrás</th>
                    <td  class="col-md-12">
                        <div th:utext="${rfc.planmarchaatras}" class="alert alert-danger"></div>
                    </td>
                </tr>

            </table>
        </div>


    </div>


</div>


</body>
</html>