<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div id="main-content" class="container main-content">

    <div class="row">
        <h2 class="text-info col-md-12">Rfcs</h2>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div id="calendar"></div>

        </div>



    </div>


</div>

<script src="/resources/moment/moment-with-locales.min.js"></script>
<script src="/resources/fullcalendar/fullcalendar.min.js"></script>

<script>
    $(document).ready(function() {

        moment.locale('es');

        $('#calendar').fullCalendar({
            firstDay: 1,
            weekends:false,
            monthNames:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            dayNamesShort: ["D","L", "M", "X", "J", "V", "S"],
            eventSources: [
                '/rfcs/rfcs-events'
            ],/*
            eventClick: function(calEvent, jsEvent, view) {

                console.log(this);

                console.log('Event: ' + calEvent.title, ' ' ,calEvent.imputado);
                console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                console.log('View: ' + view.name);

            },*/
            eventRender:function( event, element, view ) {
                element.attr('title',event.title);
                element.attr('data-toggle','tooltip');
                element.attr('data-placement','top');
                element.attr('href','/rfcs/'+event.data.issuekey);
                element.attr('target','_blank');
                element.tooltip();
            }
        });

    });
</script>

</body>
</html>