<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div id="main-content" class="container main-content">

    <div class="row">
        <h2 class="text-info col-md-12">Vacaciones</h2>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div id="calendar"></div>

        </div>



    </div>


</div>

<script src="/resources/moment/moment-with-locales.min.js"></script>
<script src="/resources/fullcalendar/fullcalendar.min.js"></script>

<script>
    $(document).ready(function() {

        moment.locale('es');

        $('#calendar').fullCalendar({
            firstDay: 1,
            monthNames:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            eventSources: [
                '/worklogs/vacaciones-events'
            ],
            eventClick: function(calEvent, jsEvent, view) {

                console.log('Event: ' + calEvent.title, ' ' ,calEvent.imputado);
                console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                console.log('View: ' + view.name);

            }
        });

    });
</script>

</body>
</html>