<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div th:replace="layout :: menu ('worklogs')"></div>


<div id="main-content" class="container main-content">

    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <label><span>Recurso </span></label>
                <select id="users" class="select form-control" style="width: 50%;">
                    <option th:each="u : ${users}" th:value="${u.id}"
                            th:text="${u.displayName}"
                            th:selected="${selectedUser eq u.id}"></option>
                </select>
            </form>
        </div>
    </div>

    <div id="content" class="row">

        <div class="col-md-12">

            <div id="calendar"></div>

        </div>

    </div>


</div>

<script>
    config_calendar('/worklogs/worklog-events',"#users");
</script>

</body>
</html>