<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>

<div id="main-content" class="container main-content">

    <div class="row">
        <h2 class="text-info col-md-12">Imputación de horas - anomalías</h2>

        <h4  th:if="${mes==null}" class="col-md-12">
            <span>Periodo:</span>
            <span th:text="${#calendars.format(fdesde,'EEEE dd/MMM/yyyy')}"></span>
            <span> a </span>
            <span th:text="${#calendars.format(fhasta,'EEEE dd/MMM/yyyy')}"></span>
        </h4>
        <h4  th:if="${mes!=null}" class="col-md-12">
            <span th:text="${'Periodo: '+mes}"></span>
        </h4>
    </div>

    <div class="row">

        <div class="col-md-12" th:each="an : ${anomalias}">

            <h5 th:class="${an.value.size() > 0?'text-warning':'text-success'}">
                <span th:text="${an.key.displayName}"></span>
                <span th:if="${an.value.size() == 0}" class="glyphicon glyphicon-ok"></span>
            </h5>

            <table class="table table-bordered">
                <tr th:each="d : ${an.value}">
                    <th th:text="${d.key}" style="width: 40%;"></th>
                    <td th:text="${d.value}" style="width: 60%;"></td>
                </tr>

            </table>

        </div>



    </div>


</div>

</body>
</html>