<div data-ng-show="visible">


    <!-- Listado -->
    <div class="row">

        <!-- Cuadro de mandos columna central -->
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12" data-ng-repeat="r in arr" data-ng-if="r.data != 'anomalia' || (data[r.data].length > 0 && r.data == 'anomalia')">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>{{r.label}}</span>
                            <span class="pull-right">Total: {{data[r.data].length}}</span>
                        </div>
                        <div class="panel-body">

                            <table class="table table-bordered">
                                <tr>
                                    <th>Solicitud</th>
                                    <th>%</th>
                                </tr>
                                <tr data-ng-repeat="t in data[r.data]" data-ng-include="'app/home/issueitem.html'">

                                </tr>
                            </table>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



