<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../components/home.html">
<link rel="import" href="../components/header.html">



<dom-module id="sauron-app">

    <template>

        <style>
            .color-rojo {
                color: red;
            }
            .color-azul {
                color: blue;
            }
        </style>


        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sauron-Prj</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Proyectos</a></li>
                        <li><a href="#/recursos">Recursos</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main-content" class="container">

            <div id="container"></div>

        </div>

    </template>


</dom-module>
