<link rel="import"
      href="/bower_components/polymer/polymer.html">



<dom-module id="sauron-home">

    <template>


        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{data}}">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>

                </td>

            </tr>
            </template>
            </tbody>

        </table>

    </template>

</dom-module>

